name: docs

on:
  workflow_call:
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5.0.0
        with:
          fetch-depth: 0
      - uses: subosito/flutter-action@v2.21.0
        with:
          channel: stable
          flutter-version: 3.27.4
      - name: Install prerequisites
        run: |
          sudo apt update -y
          sudo apt install -y graphviz openjdk-21-jdk
      - run: cmake --preset "Demo"
      - run: cmake --build build --parallel --target FrontendDocs
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: build/docs/html
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
